@import "../themes/background-theme.scss";
@import "../themes/border.scss";

.etch-controls {
  @extend %secondary-background;
  @extend %standard-border;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  }


.loc-etch-controls {
  height: 600px;
  width: 250px;
}