@import "../themes/border.scss";

.etch-grid {
  @include standard-border($radius: 0px);
  background-color: $etch-grid-background-color;
  display: grid;
}

.loc-etch-grid {
  width: 600px;
  height: 600px;
}

.etch-grid__grid-item {
  border: solid 1px $black;
  margin: 0px;
}


