@import "../themes/colors.scss";

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
}

.header__title {
  font-size: 48px;
  color: $title-color;
  text-decoration: $title-color underline solid;
  font-family: Georgia, "Times New Roman", Times, serif;
}
