@import "./colors.scss";

@mixin standard-border($radius: 15px) {
  border: $border-color 2px solid;
  border-radius: $radius;
}

%small-border {
  border: $border-color 1px solid ;
  border-radius: 15px;
}
