
$black: #000000;
$white: #ffffffff;
$dark-blue: #14213dff;
$light-blue: #a8dadc55;
$lighter-blue: #a8dadc;
$lightest-blue: #f1faee;

$border-color: $dark-blue;
$title-color: $dark-blue;
$etch-grid-background-color: $white;
$theme-color-1: $lighter-blue;
$theme-color-2: $lightest-blue;
$theme-color-3: $light-blue
