@import "./components/themes/background-theme.scss";

.etch-grid__grid-item {
  border: solid 1px black;
  margin: 0px;
  
}

.etch-grid {
  display: grid;
  width: 600px;
  height: 600px;
  border: #14213dff 2px solid;
  display: grid;
  background-color: #ffffffff;

}

